.headerText{
  text-align: center;
  font-size: 5rem;
  text-align: center;
  color: rgb(249, 212, 255);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  animation: text 5s forwards;
}

.header{ 
  overflow: hidden;
}

.header, .headerImage{
  width: 100%;
  height: 100vh;
}

@keyframes text {
  from {
    opacity: 0%;
  }
  to{
    opacity: 100%;
  }
}

.headerImage{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.headerImage > video {
  height: 100%;
}

@media screen and (prefers-color-scheme: dark) {
  .headerText {
      color: #D5FFA9;
  }
}

@media (max-width: 1366px) {
  .headerText {
    font-size: 3.6rem;
  }
}

@media (max-width: 500px) {
  .headerText {
    font-size: 1.6rem;
    letter-spacing: 6px;
  }
}

@media (any-pointer: coarse) {
  .headerImage > video {
    transform: translateX(-25%)
  }
}