.vignette {
    position: absolute;
    z-index: var(--z-vignette);
    width: var(--width);
    height: var(--height);
    background-color: var(--color-black-30);
    box-shadow: 0 0 300px 300px var(--color-black-80) inset;
    backdrop-filter: blur(8px);
}