:root{
  --width-slider: 100%;
  --height-slider: 75vh;
  --slides-qt-slider: 5;
  --seconds-slider: 0%;
}

.box {
    height: 100vh;
    align-content: center;
}

.slider{
    width: 100%;
    height: var(--height-slider);
    overflow: hidden;
    position: relative;
}

.sliderBox{
    position: relative;
    width: calc(var(--width-slider) * var(--slides-qt-slider));
    height: var(--height-slider);  
    display: flex;
    align-items: stretch;
    flex-direction: row;
    overflow: hidden;
}

.animClass{
    transition: transform 2s;
    animation: anim-slider-1 ease-in-out 10s infinite normal forwards;
    animation-play-state: paused;
    animation-range-start: var(--seconds-slider);
}

.sliderContent{
    width: 100%;
    aspect-ratio: 1 / 1;
    position: relative;
    margin: 0 3rem;
    transition: opacity 1s, aspect-ratio 1s, background-image 1s;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5rem;
    justify-items: end;
}

@media (hover:hover) {
    #leftButton:hover, #rightButton:hover {
        width: 10vh;
        cursor: pointer;
    }

    #leftButton:active, #rightButton:active {
        width: 7vh;
    }
    
    .active:hover{
        width: 100%;
        aspect-ratio: 3.06 / 2; 
        .sliderOverlay, .sliderInside {
            opacity: 1;
        }
    }
}

.inactive{
    opacity: .2;
}

.buttonBox {
    position: absolute;
    width: 100%;
    height: 12vh;
    padding-top: 3rem;
    padding-bottom: 3rem;
    display: flex;
    justify-items: center;
    align-items: center;
    justify-content: center;
}

#leftButton, #rightButton {
    position: relative;
    width: 8vh;
    aspect-ratio: 1 / 1;
    margin: 0 9vw;
    background-image: url("../../../../public/ArrowLight.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    transition: width 0.4s;
}


#leftButton {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

@keyframes anim-slider-1 {
	0% { 
        transform: translateX(calc(-1 * var(--width-slider) / var(--slides-qt-slider) * .25)); 
    }
    10% { 
        transform: translateX(calc(-1 * var(--width-slider) / var(--slides-qt-slider) * .75)); 
    }
    20% { 
        transform: translateX(calc(-1 * var(--width-slider) / var(--slides-qt-slider) * .75)); 
    }
    30% { 
        transform: translateX(calc(-1 * var(--width-slider) / var(--slides-qt-slider) * 1.25)); 
    }
    40% { 
        transform: translateX(calc(-1 * var(--width-slider) / var(--slides-qt-slider) * 1.25)); 
    }
    50% { 
        transform: translateX(calc(-1 * var(--width-slider) / var(--slides-qt-slider) * 1.75)); 
    }
    60% { 
        transform: translateX(calc(-1 * var(--width-slider) / var(--slides-qt-slider) * 1.75)); 
    }
    70% { 
        transform: translateX(calc(-1 * var(--width-slider) / var(--slides-qt-slider) * 2.25)); 
    }
    80% { 
        transform: translateX(calc(-1 * var(--width-slider) / var(--slides-qt-slider) * 2.25)); 
    }
    90% { 
        transform: translateX(calc(-1 * var(--width-slider) / var(--slides-qt-slider) * 2.75)); 
    }
	100% { 
        transform: translateX(calc(-1 * var(--width-slider) / var(--slides-qt-slider) * 2.75)); 
    }
}

.sliderInside, .sliderOverlay{
    overflow: hidden;
    opacity: 0;
    z-index: 2;
    transition: opacity 1s;
}

.sliderInside {
    width: 40%;
    height: 85%;
    font-size: min(1.3vw, 30px);
    letter-spacing: .5rem;
    position: absolute;
    text-align: right;
    text-overflow: clip;
    top: 50%;
    left: 55%;
    transform: translateY(-50%);
}

.sliderInside, .link {
    color: rgb(249, 212, 255);
}

.sliderOverlay {
    border-radius: 5rem;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, #330E3900 0%, #330E39 50%);
    background-size: contain;
    position: absolute;
    z-index: 1;
}

.link {
    font-weight: 500;
}

[data-index="0"], [data-index="5"] {
    background-image: url('../../../assets/misc/micescape.jpg');
}
[data-index="1"], [data-index="6"] {
    background-image: url('../../../assets/misc/college-dropout-watermark.png');
}
[data-index="2"], [data-index="7"] {
    background-image: url('../../../assets/misc/iconomonster.jpg');
}
[data-index="3"], [data-index="8"] {
    background-image: url('../../../assets/misc/youtube.png');
}
[data-index="4"], [data-index="9"] {
    background-image: url('../../../assets/misc/somos-algo.png');
}

@media screen and (prefers-color-scheme: dark) {
    .sliderOverlay {
        background: linear-gradient(90deg, #D5FFA900 0%, #D5FFA9 50%);
    }
    #leftButton, #rightButton {
        background-image: url("../../../../public/ArrowDark.svg");
    }
    .sliderInside, .link {
        color: #101010;
    }
}

@media (max-width: 1366px) {
    .sliderInside {
        font-size: min(3vh, 30px);
        letter-spacing: 0.15rem;
    }
}

@media (any-pointer: coarse) {
    .sliderContent { 
        aspect-ratio: 1 / 4;
        margin: 0 .5vh;
    }
    #leftButton:active, #rightButton:active {
        width: 10vh;
    }
    .sliderOverlay, .sliderContent {
        border-radius: 2vh;
    }
    .active {
        width: 100%;
        .sliderOverlay, .sliderInside {
            opacity: 1;
        }
    }
    .sliderOverlay {
        background: linear-gradient(180deg, #330E3900 0%, #330E39 50%);
    }
    .sliderInside {
        width: 90%;
        height: 90%;
        align-content: end;
        padding: 20px;
        text-align: justify;
        left: 0;
        top: 50%;
        letter-spacing: 2px;
    }
    @media (max-width: 1366px) {
        .sliderInside {
            font-size: min(1.8vw, 30px);
        }
    }
    @media (max-width: 1100px) {
        .sliderInside {
            font-size: min(4.6vw, 60px);
        }
    }
    @media (max-width: 1030px) {
        .sliderInside {
            font-size: min(3.5vw, 60px);
        }
    }
    @media (max-width: 700px) {
        .sliderInside {
            font-size: min(3.5vw, 30px);
        }
    }
    @media screen and (prefers-color-scheme: dark) {   
        .sliderOverlay {
            background: linear-gradient(180deg, #D5FFA900 0%, #D5FFA9 50%);
        }
    }
}