.menuBt {
    position: fixed;
    align-content: center;
    justify-items: center;
    width: 5rem;
    height: 5rem;
    right: 1rem;
    top: 1rem;
    border: none;
    z-index: 1000;
    transition: all .2s ease-in-out;
}

.languageDiv {
    position: fixed;
    z-index: 1000;
    top: 1rem;
    left: 1rem;
    align-content: center;
    justify-items: center;
}

.dropBt, .dropContent {
    width: 5rem;
    height: 3rem;
    text-align: center;
    align-content: center;
    letter-spacing: 0.3rem;
}

.dropBt {
    background-color: #ffffff00;
    border-style: solid;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-color: rgb(225, 93, 245);
    color: rgb(225, 93, 245);
    transition: all .2s ease-in-out;
}

.dropContent > .dropBt {
    border: none;
    visibility: hidden;
    opacity: 0%;
}

.dropBt:hover, .menuText:hover, .menuBt:hover {
    filter: brightness(0.5);
}

.languageDiv:hover .dropBt {
    visibility: visible;
    opacity: 100%;
}

.top, .bottom {
    background: url('../../../../public/menuStickLight.svg');
    background-repeat: no-repeat;
    background-size: contain; 
    background-position: center;
    width: 75%;
    height: 25%;
    transition: transform .4s ease-in-out;
}

.top.open {
    transform: rotate(45deg) translateY(75%);
    transform-origin: 50% 50%;
}

.bottom.open {
    transform: rotate(-45deg) translateY(-75%);
    transform-origin: 50% 50%;
}

.menuBox{
    position: fixed;
    width: 100%;
    height: 100%;
    align-items: center;
    align-content: center;
    z-index: 1000;
}

.menuText, .menuText:link, .menuText:visited {
    background-color: transparent;
    text-decoration: none;
    border: none;
    width: 100%;
    padding: 1.5rem 0;
    font-size: 6.5vh;
    letter-spacing: 0.7rem;
    text-align: center;
    color: #69007900;
    z-index: 1000;
}

.menuBox, .menuText, .menuBg{
    -webkit-transition: all .7s ease-out;
    -moz-transition: all .7s ease-out;
    -o-transition: all .7s ease-out;
    transition: all .7s ease-out;
    a {
        color: #69007900;
        -webkit-transition: all .7s ease-out;
        -moz-transition: all .7s ease-out;
        -o-transition: all .7s ease-out;
        transition: all .7s ease-out;
        text-decoration: none;
    }
    visibility: hidden;
    z-index: 1000;
}

.menuBox.visible, .menuText.visible{
    -webkit-backdrop-filter: blur(20px);
    -moz-backdrop-filter: blur(20px);
    -o-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    visibility: visible;
    a {
        color: #690079;
    }
    z-index: 1000;
}

.menuBg{
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 999;
    background-color: rgba(249, 212, 255,0);
}

.menuBg.visible{
    background-color: rgba(255, 255, 255,.7);
    visibility: visible;
}

@media screen and (prefers-color-scheme: dark) {
    .menuBg.visible {
        background-color: rgba(0,0,0,.7);
    }
    .dropBt, .dropContent {
        border-color: #D5FFA9;
        color: #D5FFA9;
    }
    .menuBox, .menuText {
        a {
            color: #8BCD4500;
        }
    }
    .menuBox.visible, .menuText.visible {
        a {
            color: #8BCD45;
        }
    }
    .top, .bottom {
        background: url('../../../../public/menuStickDark.svg');
        background-repeat: no-repeat;
        background-size: contain; 
        background-position: center;
    }
}

@media (max-width: 1366px) {
    .menuBt {
        width: 4rem;
        height: 4rem;
        right: 1rem;
        top: 1rem;
    }

    .menuText, .menuText:link, .menuText:visited {
        padding: 1.5rem 0;
        font-size: 6.5vh;
    }
    
}

@media (any-pointer: coarse) {

    @media (max-width: 1080px) {
        .menuBt {
            width: 8rem;
            height: 8rem;
        }
        .menuText, .menuText:link, .menuText:visited {
            padding: 1rem 0;
            font-size: 3vh;
        }
    }

    @media (max-width: 900px) {
        .menuBt {
            width: 4rem;
            height: 4rem;
        }
        .menuText, .menuText:link, .menuText:visited {
            letter-spacing: 0.6rem;
        }
    }
    
}