.drawImg {
    height: 30rem;
    aspect-ratio: 1 / 1;
    min-width: 0;
    border-radius: 5rem;
    background-position: center;
    margin: 0 1rem 0 1rem;
    background-size: cover;
    background-repeat: no-repeat;
    filter: brightness(.8) contrast(1.2);
    position: relative;
    transition: height .4s ease-in-out;
}

#tcd {
    background-image: url('../../../assets/misc/college-dropout-watermark.png');
}

#joshua {
    background-image: url('../../../assets/misc/joshua-watermark.png');
}

#nika {
    background-image: url('../../../assets/misc/nika-watermark.png');
}

#bill {
    background-image: url('../../../assets/misc/bill-watermark.png');
}

#deltarune {
    background-image: url('../../../assets/misc/deltarune-watermark.png');
}

#homemAranha {
    background-image: url('../../../assets/misc/homem-aranha-watermark.png');
}

#jotaro {
    background-image: url('../../../assets/misc/jotaro-watermark.png');
}

#kiraQueen {
    background-image: url('../../../assets/misc/kira-queen-watermark.png');
}

#kirby {
    background-image: url('../../../assets/misc/kirby-watermark.png');
}

#shinji {
    background-image: url('../../../assets/misc/shinji-watermark.png');
}

#yamato {
    background-image: url('../../../assets/misc/yamato-watermark.jpg');
}

@media screen and (prefers-color-scheme: dark) {
    .introText{
        color: #101010;
    }
    .introDiv {
        background-color: #8BCD45;
    }
}

@media (max-width: 1280px) {
    .drawImg {
        height: 26rem;
    }
}

@media (max-width: 500px) {
    .drawImg {
        height: 20rem;
    }
}