.introDiv {
    width: 100%;
    height: 140vh;
    background-color: #690079;
    position: relative;
    overflow: hidden;
    align-content: center;
}

.socialBox {
    display: grid;
    grid-template-columns: 1fr 7fr;
    grid-column-gap: 10rem;
    grid-row-gap: 5rem;
    margin: 0 5rem 0 5rem;
}

.introText {
    width: 100%;
    position: relative;
    text-decoration: none;
    text-align: center;
    align-content: center;
    color: #ffffff;
    font-size: 5vh;
    transition: all .3s ease-in-out;
}

.introText:hover {
    filter: brightness(.5);
}

.profileImg {
    height: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 20rem;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

#linkedin {
    background-image: url('../../../assets/misc/linkedin-bright.png');
}

#instagram {
    background-image: url('../../../assets/misc/instagram-bright.png');
}

#github {
    background-image: url('../../../assets/misc/github-bright.png');
}

#itchIo {
    background-image: url('../../../assets/misc/itch-io-bright.png');
}

@media screen and (prefers-color-scheme: dark) {
    .introText{
        color: #101010;
    }
    .introDiv {
        background-color: #8BCD45;
    }
    .introText:hover {
        filter: brightness(2);
    }
    #instagram {
        background-image: url('../../../assets/misc/instagram-dark.png');
    }
    #linkedin {
        background-image: url('../../../assets/misc/linkedin-dark.png');
    }
    #github {
        background-image: url('../../../assets/misc/github-dark.png');
    }
    #itchIo {
        background-image: url('../../../assets/misc/itch-io-dark.png');
    }
}

@media (max-width: 1366px) {
    .introText {
        font-size: 2.5rem;
        letter-spacing: 4px;
        padding-bottom: 3rem;
    }
    .introDiv {
        height: 170vh;
    }
}

@media (any-pointer: coarse) {
    .introDiv {
        height: 60vh;
    }
}

@media (max-width: 500px) {
    .profileImg {
        height: 5.7rem;
    }
    .socialBox {
        align-items: center;
        justify-items: center;
        margin: 0 2rem 0 2rem;
        grid-template-columns: 1fr;
        grid-row-gap: 1rem;
    }
    .introText {
        font-size: 2.3vh;
        letter-spacing: 4px;
        padding-bottom: 3rem;
    }
    .introText:hover {
        filter: brightness(1);
    }
    @media screen and (prefers-color-scheme: dark) {   
        .introText:hover {
            filter: brightness(1);
        }
    }
}