@import './styles/variables.css';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-pink-light);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.title{
  width: 100%;
  height: 16rem;
  font-size: 10rem;
  padding-bottom: 5rem;
  text-align: center;
}

.oswald-geral {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.lexend-geral {
  font-family: "Lexend", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.oswald-plus {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.lexend-plus {
  font-family: "Lexend", serif;
  font-optical-sizing: auto;
  font-weight: 350;
  font-style: normal;
}

.lexend-plus, .oswald-plus{
  letter-spacing: 1.2rem;
}

.oswald-geral, .lexend-geral{
  letter-spacing: 0.15rem;
}

@media screen and (prefers-color-scheme: dark) {
  body {
    background-color: var(--color-dark-bg);
  }
}